---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;


$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    400px;

$on-palm:          400px;
$on-laptop:        800px;


//  Parent CSS
/*--------------------------------*/


//RectangleContiner
.RectangleContiner{//understand
border-radius: 10px;
margin-bottom: 10px;
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
background: #F8F8F8;  /* fallback for old browsers */
}



//Footer CSS
.footerContent{
    text-align: center;
    font-style: italic;// understand
}

/*--------------------------------*/



//for home page
#introIndexPage{
    margin-left: 15px;
    margin-right: 15px;
}


.introSideImage{
    border-radius: 15px;
}

.introSideImageDiv{
    text-align: center;
}

//END OF HOME PAGE-----------------


.sectionTitle{
margin-left: 25px;
}


//LOCKERROOM page -------------------

.workExpHeaderText, .jobTitle, .companyOfJob, .educationHeaderText{
    padding-left: 15px;
    //understand
}

.jobPeriod{
    font-style: italic;
    text-align: right;
    padding-right: 40px;
}

.jobDescription{
    padding-left: 20px;
}












//END of LockerROOM page


// CSS Styling for the Projects page
//use "." for classname
.projectName{
    text-align: center;
    font-style: italic;
}

.projectImage{
    text-align: center;
}

.projectDetails{
    text-align: center;
}



// Used for form buttons to keep them aligh to right
.formButtons{
    text-align: right;
    padding-right: 20px;
}








// use "#" for id
#contactSectionOfContactPage, #h3{
    //color: red;
    text-align: center;
}

#mediaIconsImages{
    padding-top: 35px;
    text-align: center;
}




//Contact page----------------
.cityImage{
     border-radius: 15px;
     //understand
}
.cityImageDiv{
  padding-right: 15px;
    padding-left: 15px;
    //understand
}

//END of CONTACT Page





//Blogs page------------------
.readMoreDiv{ 
    text-align: right;
    //understand
    }

.blogImage{
    text-align: center;
    //understand
}

//END of Blogs Page ----------------


.callout {
    float: right;
}



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

/* path to glyphicons */
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/* any style customization must be before the bootstrap import */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/components-font-awesome/scss/font-awesome";
