<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
        {{ content }}

        <div class="container">



        <!-- First Article -->
        <div class="RectangleContiner">
        <div class="row">
            <div class="col-sm-8">
                <div><h4>Bulbasaur is a bad choice</h4></div>
                <div>
                    In this box, you want to write a small description or the summary of the blog. This is just to try and get the reader's attention. The title of the article should also be click bait- LOL
                </div>
                <div>Posted: July 1st 2017</div>

                <div class="readMoreDiv">
                    <h5>Read The Rest!</h5>
                </div>

            </div>


            <div class="col-sm-4">
                <div class="blogImage">
                <img src="/assets/blogPage/Bulbasaur.png" alt="Picture Of Pokemon">
                <div>

            </div>
        </div>
        </div>

         





        </div>
    </div>

    {% include footer.html %}

  </body>

</html>
