<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        {{ content }}

            <div class="container">

                    
                    <div class="row">

                        <div class="cityImageDiv">  <img class="cityImage" src="/assets/toronto.jpg" alt="Picture Of Toronto"> </div> <br>

                    </div>    <!-- END of Row -->     


                    <div class="RectangleContiner">
                    <div class="row">

                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-11" id="formSectionOfContactPage">

                                <form id="gform" method="POST" class="pure-form pure-form-stacked"
                                    action="https://script.google.com/macros/s/AKfycbzSVfUVUpdUlF8_vCXX3LTk5jYokWE74xX8lOOeX5dg61m8YgU/exec">
                                     <!-- change the form action to your script url -->
                                

                                        <div class="form-group">
                                            <fieldset class="pure-group">
                                             
                                                 <label for="FirstName" class="col-sm-2 col-form-label">First Name <i class="fa fa-asterisk" aria-hidden="true"></i> </label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="FirstName" name="FirstName" required placeholder="First Name">
                                                </div>

                                            </fieldset>
                                        </div>


                                        <div class="form-group">
                                            <fieldset class="pure-group">

                                                <label for="LastName" class="col-sm-2 col-form-label">Last Name</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Optional">
                                                </div>
                                             </fieldset>
                                        </div>   




                                        <div class="form-group">

                                            <fieldset class="pure-group">

                                                <label for="email" class="col-sm-2 col-form-label">E-mail <i class="fa fa-asterisk" aria-hidden="true"></i> </label>
                                                <div class="col-sm-10">
                                                    <input type="email" value="" class="form-control" id="email" name="email" required placeholder="your.name@email.com">
                                                    <span id="email-invalid" style="display:none">
                                                        Must be a valid email address
                                                    </span>
                                                </div>

                                            </fieldset>
                                        </div>


                            
                                        
                                    
                                        <div class="form-group"> <br>
                                            <fieldset class="pure-group">

                                            <label for="message" class="col-sm-2 col-form-label">Message <i class="fa fa-asterisk" aria-hidden="true"></i> </label>
                                            <div class="col-sm-10">
                                                <textarea id="message" name="message" class="form-control" required placeholder="Write your email..." rows="12"></textarea> <br>
                                            </div>

                                             </fieldset>
                                        </div>

        

                                    <div class="formButtons" id="formButtonsId">
                                        <button type="reset" class="btn btn-warning"> <i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</button>

                                        <button type="sumbit" class="btn btn-success pure-button button-xlarge"> <i class="fa fa-paper-plane"></i>&nbsp;Send</button>

                                        <!-- 
                                        <button type="submit" class="btn btn-success" value="Submit" >Send!</button>
                                        -->

                                        <!-- <button onclick="sendMail(); return false">Send</button> -->
                                    </div>    
                                </form>    


                                    <!-- Customise the Thankyou Message People See when they submit the form: -->
                                    <div style="display:none;" id="thankyou_message">
                                        <h2><em>Thank you for your email.</em>
                                        I will get back to you as soon as I can! :)</h2>
                                    </div>

                                    <!-- Submit the Form to Google Using "AJAX" -->
                                    <script data-cfasync="false" type="text/javascript"
                                    src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>
                                    <!-- <script data-cfasync="false" type="text/javascript"
                                    src="/form-submission-handler.js"></script> -->
                                    <!-- END -->

                            

                        </div>






                             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-11" id="contactSectionOfContactPage">
            
                                <h3> Contact Information </h3>

                                Name: Ali Saim<br>
                                AliSaimWindows@gmail.com<br>
                                Cell Phone (647)-720-8910<br>


                                

                            </div>







                    </div>  

                           



                    </div>  <!-- END of Row -->  

               
                       

        

            </div>  <!-- END of container -->   


            <div class="container">
    
                
                <div class="RectangleContiner" id="mediaIconsImages">
                <div class="row">

                    <div class="projectDetails" style="font-style: italic;">
                       <h4> You can also reach me out using these platforms </h4>
                    </div> <br><br>  


                        <a id="gmailAccountAccountIcon" href="https://plus.google.com/109765076194404745815">
                            <img class="team" src="/assets/social_media_images/gmail_logo.png" alt="Picture Of Project">
                        </a>&nbsp;&nbsp;


                        <a id="linkedinAccountIcon" href="https://www.linkedin.com/in/ali-saim-2a5091a4/">
                            <img class="team" src="/assets/social_media_images/linkedin_logo2.png" alt="Picture Of Project">
                        </a>&nbsp;&nbsp;


                        <a id="githubAccountIcon" href="https://www.codecademy.com/TwistedDraven">
                            <img class="team" src="/assets/social_media_images/codeAcademy_logo.png" alt="Picture Of Project">
                        </a>&nbsp;&nbsp;
                        

                        <a id="codeAcademyAccountIcon" href="https://github.com/AliSaim">
                            <img class="team" src="/assets/social_media_images/github_logo.png" alt="Picture Of Project">
                        </a> &nbsp;&nbsp;
                  
                        
                        <a id="soAccountIcon" href="https://stackoverflow.com/users/8216092/ali-saim">
                            <img class="team" src="/assets/social_media_images/so2_logo.png" alt="Picture Of Project">
                        </a>
                    

                </div>         
                </div>
                  



            </div> <!-- END of container -->    













    </div>

    {% include footer.html %}


  </body>

</html>
