<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        {{ content }}

            <div class="container">
                <div class="centerprojects" id="centerid">

                    
                    <div class="row">

                        <div class="projectImage" class="projectImageId"> <img class="team" src="/assets/toronto.jpg" alt="Picture Of Toronto"> </div> <br>

                    </div>    <!-- END of Row -->     


                    
                    <div class="row">

                        <div class="col-xs-6 col-md-8" id="formSectionOfContactPage">

                                <form>
                                    <div class="form-group"> <br>
                                        <label for="inputFirstName" class="col-sm-2 col-form-label">First Name <i class="fa fa-asterisk" aria-hidden="true"></i> </label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                                        </div>
                                    </div>

                                   
                                    
                                    <div class="form-group"> <br><br>
                                        <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputLastName" placeholder="Optional">
                                        </div>
                                    </div>    

                
                                    <div class="form-group"> <br><br>
                                        <label for="inputEmail" class="col-sm-2 col-form-label">E-mail <i class="fa fa-asterisk" aria-hidden="true"></i> </label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">
                                        </div>
                                    </div>

                        

                                    <div class="form-group"> <br><br>
                                        <label for="exampleTextarea" class="col-sm-2 col-form-label">Message <i class="fa fa-asterisk" aria-hidden="true"></i> </label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="exampleTextarea" placeholder="Currently this functionality does not work. Please bear with me..." rows="12"></textarea> <br>
                                        </div>
                                    </div>

                                  

                                    <div class="formButtons" id="formButtonsId">
                                        <button type="button" class="btn btn-warning">Clear</button>
                                        <button type="submit" class="btn btn-success">Send!</button>
                                    </div>    
                                </form>    

                            

                        </div>

                           <div class="col-xs-4 col-md-4" id="contactSectionOfContactPage">
            
                                <h3> Contact Information </h3>

                                Name: Ali Saim<br>
                                AliSaimWindows@gmail.com<br>
                                Cell Phone (647)-720-8910<br>


                                

                            </div>



                    </div>  <!-- END of Row -->     

                    

                </div>    

            </div>  <!-- END of container -->   


            <div class="container">
    
                <div class="row">

                     <div class="RectangleContiner" id="mediaIconsImages">

                        <a id="gmailAccountAccountIcon" href="https://plus.google.com/109765076194404745815">
                            <img class="team" src="/assets/social_media_images/gmail_logo.png" alt="Picture Of Project">
                        </a>


                        <a id="linkedinAccountIcon" href="https://www.linkedin.com/in/ali-saim-2a5091a4/">
                            <img class="team" src="/assets/social_media_images/linkedin_logo2.png" alt="Picture Of Project">
                        </a>
                        

                        <a id="githubAccountIcon" href="https://github.com/AliSaim">
                            <img class="team" src="/assets/social_media_images/github_logo.png" alt="Picture Of Project">
                        </a>
                  
                        
                        <a id="soAccountIcon" href="https://stackoverflow.com/users/8216092/ali-saim">
                            <img class="team" src="/assets/social_media_images/so2_logo.png" alt="Picture Of Project">
                        </a>
                    
                    </div>
                                
                </div>
                  

            </div> <!-- END of container -->    

    </div>

    {% include footer.html %}


  </body>

</html>
