<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        {{ content }}


        <!-- Try to design the programing languages sub contatiner -->
        <div class="container">

            <div class="skillSetSection">
            <div class="row">



                <div class="col-6 col-md-6">

                    <div class="boxTitle">  <h4> <i class="fa fa-code fa-spin fa-2x fa-fw"></i>
                    <span class="sr-only">Loading...</span> Programming Languages / Technologies </h4> <br>
                    <p>
                        Java, C#, Java EE, JDBC, JSTL, JSP, EJB, Servlets, Java Swing,<br> HTML, CSS, LINQ, XML, RMI, .NET, JPA
                        JSF, Java Persistance API, <br> Beans.
                    </p>
                    </div>

                </div>




                <div class="col-6 col-md-6">

                    <div class="boxTitle">  <h4> <i class="fa fa-database fa-spin fa-2x fa-fw"></i>
                    <span class="sr-only">Loading...</span> Databases </h4> <br>
                    <p>
                        MongoDB, Firebase(learning atm), MS-Acess, Microsoft Sequel Server, <br> SQLite, MySQL(workbench)
                    </p>
                    </div>
                </div>


            </div> <!--END of First ROW -->





             <div class="row">



                <div class="col-6 col-md-6">

                    <div class="boxTitle">  <h4> <i class="fa fa-code fa-spin fa-2x fa-fw"></i>
                    <span class="sr-only">Loading...</span> IDE Development Tools </h4> <br>
                    <p>
                        Android Studio, Eclipse, Visual Studio and Visual Studio Code, <br> Net-Beans, Xamarin Studio, MonoDevelop, X-Code, Unity(Game Engine)
                    </p>
                    </div>

                </div>




                <div class="col-6 col-md-6">

                    <div class="boxTitle">  <h4> <i class="fa fa-cube fa-spin fa-2x fa-fw"></i>
                    <span class="sr-only">Loading...</span> 3D - Software / Modeling Programes </h4> <br>
                    <p>
                        Blender, Photoshop, Solidworks, Pro/ENGINEER, AutoCad.<br>
                    </p>
                    </div>
                </div>


            </div> <!--END of SECOND ROW -->
            </div> <!-- Background end div -->

    
                
        </div>
  

    </div>

    {% include footer.html %}

  </body>

</html>
