<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        {{ content }}

            <div class="container">
                <div class="RectangleContiner" id="centerid">
                    
                    <div class="row">

                        <!--Information about list app -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-11">

                            <div class="projectName" class="projectNameId"> <h3>List</h3> </div> <br>
                                <div class="projectImage" class="projectImageId"> <img class="team" src="/assets/project_images/list_logo.png" alt="Picture Of Project"> </div> <br>
                                    <div class="projectDetails" class="projectDetailsId">

                                        <strong>Android Utility Application</strong>
                                         
                                        <p> My friends and I are hoping to publish this app to the play store very soon. This is a simple grocery application.
                                            Currently were are exploring different approaches to execute different requirments we have set in place for the app.
                                        </p>

                                        <article>
                                             <a id="githubFont" href="https://github.com/jtkwon/list">
                                            <i class="fa fa-github fa-2x" aria-hidden="true"></i> View GitHub Repo</a>
                                        </article>
                                    </div>
                        </div> <!-- End of list app information -->



                        <!--Information about agent2 app -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-11">

                            <div class="projectName" class="projectNameId"> <h3>Agent2</h3> </div> <br>
                                <div class="projectImage" class="projectImageId"> <img class="team" src="/assets/project_images/agent2logo.png" alt="Picture Of Project"> </div> <br>
                                    <div class="projectDetails" class="projectDetailsId">

                                        <strong>Android Utility Application</strong>
                                         
                                        <p>
                                            I am making this app, where user can trigger their phone to different actions with key phrases they have registered to the app. For example, if the phone hears user say "coffee", it can trigger a false phone call or text message. When traveling via public transportation, you can just sleep and phone will wake you up upon arriving to destination. 
                                        </p>

                                        <article>
                                             <a id="githubFont" href="https://github.com/AliSaim/Agent2">
                                            <i class="fa fa-github fa-2x" aria-hidden="true"></i> View GitHub Repo</a>
                                        </article>
                                    </div>
                        </div> <!-- End of agent2 app information -->


                        
                        <!--Information about agent2 app -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-11">

                            <div class="projectName" class="projectNameId"> <h3>Survey Ocean</h3> </div> <br>
                                <div class="projectImage" class="projectImageId"> <img class="team" src="/assets/project_images/survey_ocean_logo.png" alt="Picture Of Project"> </div> <br>
                                    <div class="projectDetails" class="projectDetailsId">

                                        <strong>Live Survey Website</strong>
                                         
                                        <p>  My friends and I developed this website as our final project for a course. User can create a account, their account information gets stored on mLab. Users can login and create surveys, then publish for other poeple to answer. User can answer other people surverys and export survey data to excel files. Website is incorprates security, certain pages are blocked till user is authenticated.
                                        </p>

                                        <article>
                                            <a id="githubFont" href="https://github.com/jtkwon/SurveyOcean">
                                            <i class="fa fa-github fa-2x" aria-hidden="true"></i> View GitHub Repo</a>&nbsp&nbsp

                                            <a id="githubFont" href="https://surveyocean.herokuapp.com/">
                                            <i class="fa fa-car fa-2x" aria-hidden="true"></i> Visit Site</a>



                                        </article>
                                    </div>
                        </div> <!-- End of agent2 app information -->



                    
                        <div class="clearfix visible-md"></div>
                        <div class="clearfix visible-lg"></div>

                        <!--Information about factory of doom -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-11">

                            <div class="projectName" class="projectNameId"> <h3>Factory of Doom</h3> </div> <br>
                                <div class="projectImage" class="projectImageId"> <img class="team" src="/assets/project_images/factory_of_doom.png" alt="Picture Of Project"> </div> <br>
                                    <div class="projectDetails" class="projectDetailsId">

                                        <strong>Unity Game</strong>
                                         
                                        <p> This is a unity game that i made for one of my class assignments. The goal of this game is to try and escape a escape from an undergroud fatory that has zombies, and dangerious obsticals as quick as possible. You can also get higger points if you collect coins located on different plateforms, just make sure not to fall into the toxic flowing acid. 
                                        </p>

                                        <article>
                                             <a id="githubFont" href="https://github.com/AliSaim/FactoryOfDoom">
                                            <i class="fa fa-github fa-2x" aria-hidden="true"></i> View GitHub Repo</a>
                                        </article>
                                    </div>
                        </div> <!-- End of factory of doom -->


                        <div class="clearfix visible-sm"></div>

                        <!--Information about Soul Seeker app -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-11">

                            <div class="projectName" class="projectNameId"> <h3>Soul Seeker</h3> </div> <br>
                                <div class="projectImage" class="projectImageId"> <img class="team" src="/assets/project_images/soul_seeker_img.png" alt="Picture Of Project"> </div> <br>
                                    <div class="projectDetails" class="projectDetailsId">

                                        <strong>Unity Game</strong>
                                         
                                        <p> 
                                            My friend and I made this game as our final project for a course. This game takes place in a different dimention and you as the player are traped in an arcade machine. You must collect all of your soul in each different levels while avoiding scary packman monstors. There are 3 different unique levels player has to beat to get back to reality.
                                        </p>

                                        <article>
                                             <a id="githubFont" href="https://github.com/jtkwon/COMP305_Final_Project_SoulSeeker">
                                            <i class="fa fa-github fa-2x" aria-hidden="true"></i> View GitHub Repo</a>
                                        </article>
                                    </div>
                        </div> <!-- End of Soul Seeker -->


                

                        <!--Information SushiPOS -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-11">

                            <div class="projectName" class="projectNameId"> <h3>SushiPOS</h3> </div> <br>
                                <div class="projectImage" class="projectImageId"> <img class="team" src="/assets/project_images/sushipos_logo.png" alt="Picture Of Project"> </div> <br>
                                    <div class="projectDetails" class="projectDetailsId">

                                        <strong>Web App Via Java EE Technologies</strong>
                                         
                                        <p> My friends and I made this web app as our final project for a class. This web app is build using  technologies such as: MVC architeture, JSF Framework (for presentation), JPA, JPA QL, EJB and AJAX. This web app a client side (where user can choose to order different sushi selections offerd by the restaurant). There is also an admin side where admin and CRUD menu items and customer orders.
                                        </p>

                                        <article>
                                             <a id="githubFont" href="https://github.com/jtkwon/SushiPOS">
                                            <i class="fa fa-github fa-2x" aria-hidden="true"></i> View GitHub Repo</a>
                                        </article>
                                    </div>
                        </div> <!-- End of SushiPOS -->

                    </div>

                </div>    

            </div>  





            <div class="container">
                <div class="RectangleContiner" id="centerid">
                    
                  
                    <div class="row projectName">

                        Please Note* Some of the git repositories are private and you will not be able to view the code...

                    </div> 

                </div>    
            </div>    


    </div>

    {% include footer.html %}


  </body>

</html>
